<div class="container confirmation-order">
  <div class="d-flex p-5 flex-column">
    <p>Grazie per il tuo ordine!</p>
    <p>Mostra questo codice alla cassa per accedere al tuo ordine</p>

    <!--CODICE-->
    <div class="code p-4 mb-4 rounded">
      <span>{{receiptId}}</span>
    </div>

    <p>Buon appetito</p>
    <p class="fw-bold">Verzi Group</p>

    <mat-divider class="mb-3"></mat-divider>

    <p>Hai cambiato idea?</p>
    <button mat-flat-button color="primary" (click)="editSavedOrder()">Modifica il tuo ordine</button>
  </div>
</div>
